// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1 {
    text-align: center;
}

#home {
    margin: 0 auto;
    width: 95vw;
}

#links-container {
    overflow-y: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li::before {
    content: "\200B";
}

li span {
    margin: 1rem;
    cursor: pointer;
}

.link-item {
    margin: 1rem;
    padding: 2rem 2rem;
    width: 35vw;
    border: 3px solid rgba(0,0,0,0.3);
}

form {
    display: flex;
}

::placeholder {
    color: rgba(0,0,0,0.3);
}
