// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1 {
    text-align: center;
}

#home {
    margin: 0 2rem;
    width: 95vw;
}

#links-container {
    padding: 0 15rem;
    overflow-y: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center space-between;
    align-content: center;
    flex-wrap: wrap;
}

ul li::before {
    content: "\200B";
}

li span {
    margin: 1rem;
    cursor: pointer;
}

.link-item {
    margin: 1rem;
    padding: 2rem 2rem;
    width: 30vw;
    background-color: rgba(255, 200, 100, 0.1);
}

form {
    display: flex;
}

::placeholder {
    color: rgba(0,0,0,0.3);
}
